In [12]:
import pandas as pd
import yfinance as yf
from library import FileLoader, TradingCalendar, StockUniverse, StrTool, MarketInfo, FactorLibrary
import numpy as np
from pathlib import Path

In [13]:
TradingCalendar.trading_days(start_date = '2025-02-01', end_date = '2025-03-01', to_string=True)[:3]

['2025-02-03', '2025-02-04', '2025-02-05']

In [14]:
TradingCalendar.trading_days(start_date = '2025-02-01', end_date = '2025-03-01')[:3]

[datetime.date(2025, 2, 3),
 datetime.date(2025, 2, 4),
 datetime.date(2025, 2, 5)]

In [15]:
df = StrTool.load_ftr_with_date_index(r'Z:\TWSE\adjusted_price\00733.ftr')
df.head(3)

,open_price,high_price,low_price,close_price,volume,amount,transaction,pe_ratio,dividend_yield,pb_ratio,adj,adj_pe,adj_open_price,adj_high_price,adj_low_price,adj_close_price,adj_pe_ratio,adj_dividend_yield,adj_pb_ratio
trade_date,,,,,,,,,,,,,,,,,,,
2018-05-17,19.96,19.97,19.70,19.75,7849000,155810480,881,NaN,NaN,NaN,1.0,1.0,19.96,19.97,19.70,19.75,NaN,NaN,NaN
2018-05-18,19.90,19.92,19.73,19.90,3540000,70388050,454,NaN,NaN,NaN,1.0,1.0,19.90,19.92,19.73,19.90,NaN,NaN,NaN
2018-05-21,19.96,20.42,19.96,20.42,8664000,174023940,1273,NaN,NaN,NaN,1.0,1.0,19.96,20.42,19.96,20.42,NaN,NaN,NaN

In [17]:
MarketInfo.ETF00733().head(3)
MarketInfo.TPEX().head(3)

,price,price_mean_5,price_std_5,amount_mean_5,amount_std_5,price_mean_10,price_std_10,amount_mean_10,amount_std_10,price_mean_20,...,amount_mean_20,amount_std_20,price_mean_30,price_std_30,amount_mean_30,amount_std_30,price_mean_60,price_std_60,amount_mean_60,amount_std_60
Date,,,,,,,,,,,,,,,,,,,,,
2015-04-09,186.50,187.222,1.217506,225.098601,15.960087,187.201,1.427441,228.760486,21.583888,188.0545,...,243.893901,43.906134,186.668667,2.808877,227.460640,46.677444,183.372000,3.963384,194.607193,51.297557
2015-04-10,187.20,187.526,0.878908,225.192378,15.786230,187.004,1.250477,221.479712,15.923834,188.1195,...,244.234556,43.531849,186.874000,2.600660,228.833108,45.228501,183.444667,3.993320,194.929015,51.281061
2015-04-13,188.36,187.786,0.898655,222.215202,17.770910,186.988,1.229777,221.507503,15.896042,188.1715,...,243.363912,44.112820,187.096000,2.421875,229.536424,44.703906,183.588333,4.012792,194.781391,51.231602

⚡ 快取使用: Y:\因子回測_江建彰\因子庫.pkl

In [15]:
start_date = '2025-04-11'
end_date = '2025-04-16'
ticker = '1101'

FactorLibrary.get_factors_for_ticker(ticker, start_date, end_date).head(2)

factor,factor_0,factor_1,factor_2,factor_3,factor_4,factor_5,factor_6,factor_7,factor_8,factor_9,...,factor_176,factor_177,factor_178,factor_179,factor_180,factor_181,factor_182,factor_183,factor_184,factor_185
Date,,,,,,,,,,,,,,,,,,,,,
2025-04-11,0.201748,-43.468446,-38.805354,-38.695683,-42.879045,-70.885553,-52.819913,-66.234765,-49.008676,-66.913145,...,0.166667,0.166667,0.166667,0.333333,0.166667,0.166667,0.5,0.998920,1.000349,0.999386
2025-04-14,0.435949,-39.257654,-32.606695,-33.004861,-35.092506,-59.210065,-44.111775,-54.622890,-40.814936,-54.081831,...,0.166667,0.166667,0.166667,0.333333,0.166667,0.166667,0.5,0.999512,1.000166,1.000249

In [16]:
FactorLibrary.get_factor_across_tickers(0, start_date, end_date).head(2)

ticker,1101,1102,1103,1104,1108,1109,1110,1201,1203,1210,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
Date,,,,,,,,,,,,,,,,,,,,,
2025-04-11,0.201748,1.637873,2.076125,0.662495,1.416853,1.234568,-1.020987,0.555213,2.632279,1.587874,...,1.269841,1.587302,-0.169683,-0.592672,0.074822,0.990099,5.130362,12.237999,3.926590,4.928458
2025-04-14,0.435949,0.178691,2.739726,1.645338,1.694915,2.932193,2.362205,2.342787,1.968504,3.183119,...,1.975781,3.312303,2.832861,-0.759219,8.913598,7.350722,6.995033,14.536016,2.751146,6.891151

In [17]:
# 決定訓練的時間區間
MarketInfo.TPEX()

,price,price_mean_5,price_std_5,amount_mean_5,amount_std_5,price_mean_10,price_std_10,amount_mean_10,amount_std_10,price_mean_20,...,amount_mean_20,amount_std_20,price_mean_30,price_std_30,amount_mean_30,amount_std_30,price_mean_60,price_std_60,amount_mean_60,amount_std_60
Date,,,,,,,,,,,,,,,,,,,,,
2015-04-09,186.50,187.222,1.217506,225.098601,15.960087,187.201,1.427441,228.760486,21.583888,188.0545,...,243.893901,43.906134,186.668667,2.808877,227.460640,46.677444,183.372000,3.963384,194.607193,51.297557
2015-04-10,187.20,187.526,0.878908,225.192378,15.786230,187.004,1.250477,221.479712,15.923834,188.1195,...,244.234556,43.531849,186.874000,2.600660,228.833108,45.228501,183.444667,3.993320,194.929015,51.281061
2015-04-13,188.36,187.786,0.898655,222.215202,17.770910,186.988,1.229777,221.507503,15.896042,188.1715,...,243.363912,44.112820,187.096000,2.421875,229.536424,44.703906,183.588333,4.012792,194.781391,51.231602
2015-04-14,189.27,187.918,1.080102,216.223565,20.035877,187.222,1.424693,220.322834,17.205766,188.2520,...,241.551413,45.215295,187.331000,2.269688,231.223785,42.413018,183.747833,4.045678,194.993200,51.220173
2015-04-15,188.60,187.986,1.117085,212.902436,19.025518,187.614,1.162767,218.671395,17.229895,188.2965,...,240.436733,45.701422,187.533000,2.091243,232.820338,40.624648,183.885500,4.068224,194.775304,51.122020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-10,359.32,369.468,34.698629,474.414089,227.967036,399.779,40.830051,660.964833,257.921746,423.3395,...,826.472032,251.523888,434.991000,34.574583,858.196213,214.466488,442.183500,26.240092,863.072261,169.492527
2025-04-11,364.56,357.974,18.819829,501.173829,261.623390,391.457,38.366019,647.683904,245.428034,419.1915,...,817.474765,248.912210,431.611667,36.353979,853.749432,214.214743,440.803500,28.076273,863.159804,169.458518
2025-04-14,371.10,355.962,16.056186,630.163429,172.411680,384.360,34.313296,650.386033,246.715530,415.6185,...,806.242825,245.635609,428.467333,37.392659,853.311352,214.381578,439.444833,29.434368,862.832597,169.625564
2025-04-15,385.09,361.852,20.652365,656.366364,168.433156,379.683,30.041009,630.295978,232.922933,412.6860,...,796.621058,246.341441,425.925667,37.671583,840.786515,212.628061,438.272833,30.178477,858.533528,170.746629
2025-04-16,378.69,371.752,10.401234,688.752327,181.806907,376.597,28.158035,617.234914,216.592455,409.3610,...,793.756207,245.791952,423.402000,38.230089,840.070724,212.691833,437.014667,31.064663,857.318761,170.819733

In [18]:
FactorLibrary.multi_df

factor      factor_0                                              \
ticker          1101      1102      1103      1104          1108
Date
2020-04-01 -0.204447  0.205286 -0.066181  0.698856  5.904405e+00
2020-04-06  1.677682  2.064220  1.186552  2.021478  4.580153e+00
2020-04-07  3.574125  6.542993  3.583062  3.932584  3.720238e+00
2020-04-08  1.803156  3.897716  2.580645  3.086420  1.167883e+00
2020-04-09  1.612903  2.657888  2.171137  2.251978  7.163324e-01
...              ...       ...       ...       ...           ...
2025-04-11  0.201748  1.637873  2.076125  0.662495  1.416853e+00
2025-04-14  0.435949  0.178691  2.739726  1.645338  1.694915e+00
2025-04-15 -1.298269 -1.757899 -0.539447 -1.377810  7.251632e-02
2025-04-16 -1.143241 -0.826446 -0.473934 -0.693684 -7.267442e-02
2025-04-17 -1.658768  0.044763  0.473613  0.365631 -2.664535e-13

factor                                                            ...  \
ticker              1109      1110      1201      1203      1210  ...
Date                                                              ...
2020-04-01 -7.561437e-01 -1.967005  3.591879  0.800305  1.369863  ...
2020-04-06  7.532957e-01 -2.742347  1.634321  0.190114  0.514766  ...
2020-04-07  2.684145e+00 -1.923077  0.899101  0.720789  0.862999  ...
2020-04-08  1.863354e+00 -0.388098  0.647733  0.830816  0.861837  ...
2020-04-09  1.600985e+00  1.552393  1.045296  1.315789  1.099490  ...
...                  ...       ...       ...       ...       ...  ...
2025-04-11  1.234568e+00 -1.020987  0.555213  2.632279  1.587874  ...
2025-04-14  2.932193e+00  2.362205  2.342787  1.968504  3.183119  ...
2025-04-15  1.501502e+00  0.788288 -0.972053  0.388098  1.405975  ...
2025-04-16  3.605769e-01 -0.113186 -1.098901 -0.438483  2.019499  ...
2025-04-17  2.886580e-13 -1.352875 -0.674433 -0.438483  1.038062  ...

factor     factor_185                                                    \
ticker           9944      9945      9946      9949      9950      9951
Date
2020-04-01   0.999935  0.993475  1.006718  0.995031  0.998105  1.000538
2020-04-06   1.000702  0.993183  1.002554  1.001527  0.993129  1.001826
2020-04-07   1.003852  1.000872  0.992585  0.999707  0.992867  1.003646
2020-04-08   1.006097  1.000800  0.997986  0.999393  0.998528  1.004831
2020-04-09   1.003150  1.000016  1.003579  1.001872  1.001097  1.003353
...               ...       ...       ...       ...       ...       ...
2025-04-11   0.996059  0.998892  0.995357  1.000269  0.997555  1.000148
2025-04-14   1.001241  1.000427  0.996200  0.997938  0.994582  0.998891
2025-04-15   0.998429  1.000944  1.001255  0.995323  0.999422  1.000020
2025-04-16   0.999026  1.000255  1.005863  0.995549  1.001755  1.001636
2025-04-17   1.002929  1.000698  1.004786  1.000000  0.997236  1.000412

factor
ticker          9955      9958      9960      9962
Date
2020-04-01  1.000069  1.000420  0.999717  0.998158
2020-04-06  1.000605  0.999211  1.000621  1.000076
2020-04-07  1.000810  0.999887  1.000332  1.003496
2020-04-08  0.998951  1.002109  1.003819  1.003078
2020-04-09  0.998678  1.000542  1.004274  0.998203
...              ...       ...       ...       ...
2025-04-11  0.998767  0.991700  1.004853  0.999544
2025-04-14  0.998162  0.990563  0.996839  1.000758
2025-04-15  0.999618  0.994872  0.996795  1.001954
2025-04-16  1.003275  0.999744  0.999842  1.002569
2025-04-17  1.001498  1.000800  0.997688  1.000966

[1226 rows x 328667 columns]